a:hover {
	text-decoration: none;
}

footer {
  background-color: black;
}

#job {
  color: white;
}

#title {
	letter-spacing: 2vw;
  color: teal;
}

#header-section {
	width: 100%;
}

#about, #portfolio, #connect {
	background: url("../images/bg-blur-secondary.jpg") fixed center bottom;
	width: 100%;
	padding: 10%;
	line-height: 150%;
}

#profile-pic {
  width: 60%;
  border-radius: 50%;
}

.footer-copyright {
  background-color: black;
}

.img-size {
  width: 80%;
}

.projects {
  color: teal;
  text-align: center;
}